#USE FOR DarkChess INITIAL SETTING
#Tue Dec 17 17:01:50 CST 2019
Password=123
IP=120.126.151.213
SearchPath=Search/dctp
TimeLimit=900
TimerMode=ABSOLUTE
FirstMove=YES
NoEatFlip=180
BoardPath=
StartMode=OPEN
ChangeFirstMove=YES
Account=a0
PlyShare=0
ConnectMode=DCTP
OnePlyTime=0
LongCatch=3
MidBoard=NO
LocalServer=false
RepeatTime=2
