#USE FOR ROOM INITIAL SETTING
#Thu Dec 26 12:58:19 GMT+08:00 2019
PopWindowLocaleY=193
PopWindowLocaleX=474
RepeatGameDelay=5
DebugFontSize=16
FinishGameCloseHTML=NO
BoardOpenType=BROWSER
TimeCountDown=YES
ScrollAuto=AUTO
PopWindowWidth=1172
SplitWeight=0.65
DebugBGColor=-16777216
CleanLastDebug=NO
DebugFontColor=-1
PopWindowHeight=592
