#USE FOR DarkChess INITIAL SETTING
#Tue Dec 17 17:02:03 CST 2019
Password=123
IP=120.126.151.213
SearchPath=Search/dctp
TimeLimit=900
TimerMode=ABSOLUTE
FirstMove=YES
NoEatFlip=180
BoardPath=
StartMode=ENTER
ChangeFirstMove=YES
Account=a1
PlyShare=0
ConnectMode=DCTP
OnePlyTime=0
LongCatch=3
MidBoard=NO
LocalServer=false
RepeatTime=100
