#USE FOR DarkChess INITIAL SETTING
#Thu Dec 26 12:58:11 GMT+08:00 2019
Password=123
IP=120.126.151.213
SearchPath=D\:\\computer_theory\\final\\windows\\open\\Search\\dctp.exe
TimeLimit=900
TimerMode=ABSOLUTE
FirstMove=YES
NoEatFlip=180
BoardPath=
StartMode=OPEN
ChangeFirstMove=YES
Account=a0
PlyShare=0
ConnectMode=DCTP
OnePlyTime=0
LongCatch=3
MidBoard=NO
LocalServer=false
RepeatTime=2
